<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>Word Analyzer</title>

    <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/jpanelmenu/1.2.0/jquery.jpanelmenu.js"></script>

    <script type="text/javascript" src="webjars/datatables/1.10.16/js/jquery.dataTables.js"></script>
    <link type="text/css" href="webjars/datatables/1.10.16/css/dataTables.jqueryui.min.css" rel="stylesheet"/>


<script type="text/javascript">
    $(document).ready(function () {
        var jPM = $.jPanelMenu({
            menu: 'header.main nav',
            animated: true
        });
        jPM.on();
        $("#loadingImage").hide();
        $("#subtitle").html("Messages of Session")
    });


</script>

<script type="text/javascript">

    var reqUrl = "newWords";

    $(document).ready(function () {
        var table = $("#information").DataTable({
            "sPaginationType": "full_numbers",
            "sScrollX": "1000px",
            "sScrollY": calcDataTableHeight(),
            "sSearch": "Search all:",
            "iDisplayLength": 100,
            "aaSorting": [
                [0, 'desc']
            ],
            //"bJQueryUI": true
            "aaData": [],
            "aoColumns": [
//                { "mDataProp": "id", sDefaultContent: "n/a"},
                { "mDataProp": "frequency", sDefaultContent: "n/a"},
                { "mDataProp": "word", sDefaultContent: "n/a"},
                { "mDataProp": "stem", sDefaultContent: "n/a"},
                { "mDataProp": "partsOfSpeech", sDefaultContent: "n/a"},
                { "mDataProp": "senses", sDefaultContent: "n/a"},
                { "mDataProp": "size", sDefaultContent: "n/a"},
                { "mDataProp": "rank100k", sDefaultContent: "n/a"},
                { "mDataProp": "variations", sDefaultContent: "n/a"},
                { "mDataProp": "remarks", sDefaultContent: "n/a"}
            ]
        });

        // Apply the search
        table.columns().every( function () {
            var that = this;

            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );

        $('#button-filter-article').click(function (e) {
            e.preventDefault();
            table.column(3).search("^((?!ARTICLE).)*$", true, false, true).draw();
        });

        $('#button-filter-pronoun').click(function (e) {
            e.preventDefault();
            table.column(3).search("^((?!PRONOUN).)*$", true, false, true).draw();
        });

        $('#button-filter-preposition').click(function (e) {
            e.preventDefault();
            table.column(3).search("^((?!PREPOSITION).)*$", true, false, true).draw();
        });

        $('#button-filter-adverb').click(function (e) {
            e.preventDefault();
            table.column(3).search("^((?!ADVERB).)*$", true, false, true).draw();
        });

        $('#button-filter-clear').click(function (e) {
            e.preventDefault();
            table.column(3).search("").draw();
        });


//        if close button is clicked
        $('.window .close').click(function (e) {
            //Cancel the link behavior
            e.preventDefault();
            $('#mask').hide();
            $('.window').hide();
        });

//        if mask is clicked
        $('#mask').click(function () {
            $(this).hide();
            $('.window').hide();
        });

//        if mask is clicked
        $('#masterButton').click(function () {
            $.get("addToMastered", {word: $('#wordLabel').text()}, function (res) {
                $('#mask').hide();
                $('.window').hide();
                table = $("#information").dataTable();
                table.row('.selected').remove().draw(false);
            });

        });
        //        if interest is clicked
        $('#interestButton').click(function () {
            $.get("addToInterest", {word: $('#wordLabel').text()}, function (res) {
                $('#mask').hide();
                $('.window').hide();
                table = $("#information").dataTable();
                table.row('.selected').remove().draw(false);
            });

        });

        $(window).resize(function () {
            var box = $('#boxes .window');
            //Get the screen height and width
            var maskHeight = $(document).height();
            var maskWidth = $(window).width();
            //Set height and width to mask to fill up the whole screen
            $('#mask').css({'width': maskWidth, 'height': maskHeight});
            //Get the window height and width
            var winH = $(window).height();
            var winW = $(window).width();
            //Set the popup window to center
            box.css('top', winH / 2 - box.height() / 2);
            box.css('left', winW / 2 - box.width() / 2);
        });

        refreshMessages(reqUrl);

    });

    var calcDataTableHeight = function () {
        var h = Math.floor($(window).height() * 55 / 100);
        return h + 'px';
    };
    $(window).resize(function () {
        var oTable = $("#information").dataTable();
        $('div.dataTables_scrollBody').css('height', calcDataTableHeight());
        oTable.fnAdjustColumnSizing();
    });

    function refreshTime() {
        $.get("serverTime", function (response) {
            $("#server-time-text").html(response[0] + "<br/>" + response[1]);
        });
        setTimeout(refreshTime, 60000);
    }

    function refreshMessages(url) {
        $('#information').hide();
        $('#loadingImage').show();
        $.get(url, function (responseJson) {
            $('#information').show();
            $('#loadingImage').hide();
            refreshTable(responseJson)
        });
    }

    var $lmTable;

    function refreshTable(responseJson) {
        $lmTable = $("#information").dataTable();
        $lmTable.fnClearTable(this);
        $.each(responseJson, function (index, message) {
            $lmTable.fnAddData(message, false);
        });
        $lmTable.fnDraw(this);
    }

    $(document).on('click', '#information tbody tr', function () {
        var aData = $lmTable.fnGetData(this);
        $lmTable.$('tr.selected').removeClass('selected');
        $(this).addClass('selected');
        var msgWindow = $('#dialog');
        $('#requestText').html("Loading word...");
        $('#exampleText').html("Loading examples...");
        $('#wordLabel').html(aData.word);
        $.get("word", {word: aData.word}, function (res) {
            $('#requestText').html(res);
            var box = $('#boxes .window');
            //Get the window height and width
            var winH = $(window).height();
            var winW = $(window).width();
            //Set the popup window to center
            $(box).css('top', winH / 2 - $(msgWindow).height() / 2);
            $(box).css('left', winW / 2 - $(msgWindow).width() / 2);
        });
        $.get("example", {word: aData.word}, function (res) {
            $('#exampleText').html(res);
            var box = $('#boxes .window');
            //Get the window height and width
            var winH = $(window).height();
            var winW = $(window).width();
            //Set the popup window to center
            $(box).css('top', winH / 2 - $(msgWindow).height() / 2);
            $(box).css('left', winW / 2 - $(msgWindow).width() / 2);
        });

        //Get the screen height and width
        var maskHeight = $(document).height();
        var maskWidth = $(window).width();
        //Set height and width to mask to fill up the whole screen
        var mask = $('#mask').css({'width': maskWidth, 'height': maskHeight});
        //transition effect
        mask.fadeIn(300);
        mask.fadeTo("slow", 0.8);

        //transition effect
        $(msgWindow).fadeIn(600);

    });

</script>

<style type="text/css">
    #mask {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9000;
        background-color: #000;
        display: none;
    }

    #boxes .window {
        position: fixed;
        left: 0;
        top: 0;
        max-width: 90%;
        max-height: 90%;
        display: none;
        z-index: 9999;
        padding: 20px;
    }

    #boxes #dialog {
        /*background:url(images/notice.png) no-repeat 0 0 transparent;*/
        /*padding:50px 0 20px 25px;*/
        padding: 10px;
        background-color: #ffffff;
        /*overflow: auto;*/
    }

    pre {
        outline: 1px solid #ccc;
        padding: 5px;
        margin: 5px;
    }

    .string {
        color: green;
    }

    .number {
        color: darkorange;
    }

    .boolean {
        color: blue;
    }

    .null {
        color: magenta;
    }

    .key {
        color: black;
    }

</style>

</head>
<body id="messages_body">

<div class="content" id="container" style="width: 98%; margin: auto">

    <br/>
    <button id="button-filter-article" type="button" class="btn btn-primary">Hide Articles</button>
    <button id="button-filter-pronoun" type="button" class="btn btn-primary">Hide Pronouns</button>
    <button id="button-filter-preposition" type="button" class="btn btn-primary">Hide Prepositions</button>
    <button id="button-filter-adverb" type="button" class="btn btn-primary">Hide Adverbs</button>
    <button id="button-filter-clear" type="button" class="btn btn-primary">Clear filers</button>
    <br/>

    <div id="message_info">

        <div id="loadingImage" align="center">
            <img src="image/ajax-loader.gif" alt="Loading..."/>
        </div>

        <table id="information" class="display stripe">
            <thead>
            <tr>
                <th>FREQUENCY</th>
                <th>WORD</th>
                <th>STEM</th>
                <th>PART OF SPEECH</th>
                <th>SENSES</th>
                <th>LENGTH</th>
                <th>TOP100K NORVIG</th>
                <th>VARIATIONS</th>
                <th>REMARKS</th>
            </tr>
            </thead>
            <tbody id="infoBody">
            </tbody>
            <tfoot>
            <tr class="search_bar">
                <th><input type="text" name="search_freq" value="Search frequency" class="search_init"/></th>
                <th><input type="text" name="search_word" value="Search word" class="search_init"/></th>
                <th><input type="text" name="search_stm" value="Search stem" class="search_init"/></th>
                <th><input type="text" name="search_pos" value="Search pos" class="search_init"/></th>
                <th><input type="text" name="search_senses" value="Search senses" class="search_init"/></th>
                <th><input type="text" name="search_size" value="Search size" class="search_init"/></th>
                <th><input type="text" name="search_rank100" value="Search rank100" class="search_init"/></th>
                <th><input type="text" name="search_var" value="Search var" class="search_init"/></th>
                <th><input type="text" name="search_rem" value="Search rem" class="search_init"/></th>
            </tr>
            </tfoot>
        </table>
    </div>


    <div id="boxes">
        <div id="dialog" class="window">
            <table>
                <tr>
                    <td>Meaning:</td>
                </tr>
                <tr>
                    <td style="vertical-align:top;">
                        Word: <label id="wordLabel"></label>
                        <br/>
                        <div id="requestText" style="font-family:monospace;border-style:inset;min-height:100px;width:800px;overflow:auto"></div>
                    </td>
                </tr>
                <tr>
                    <td>Examples from text:</td>
                </tr>
                <tr>
                    <td>
                        <div id="exampleText" style="font-family:monospace;border-style:inset;"></div>
                    </td>
                </tr>
            </table>
            <input type="button" value="Close it" class="close"/>
            <input type="button" value="Add to mastered" id="masterButton"/>
            <input type="button" value="Add to interest" id="interestButton"/>
        </div>
        <!-- Mask to cover the whole screen -->
        <div id="mask"></div>
    </div>


</div>

</body>
</html>