<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--@author AmilaS-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Word Analyzer</title>

    <link type="text/css" href="css/trs_console.css" rel="stylesheet"/>
    <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var jPM = $.jPanelMenu({
                menu: 'header.main nav',
                animated: true
            });
            jPM.on();
            jPM.open();
            $("#analyzeButton").button();
            $("#loadingImage").hide();
        });

        $(document).on("click", "#analyzeButton", function () {
            $.get("analyze", function (response) {
                $("#status").html(response);
            });
            updateProgress();
        });

        function updateProgress() {
            var sCode = 0;
            $.get("progress", function (response) {
                $("#status").html(response.status);
                $("#count").html(response.progress);
                sCode = response.statusCode;
            });
            setTimeout(updateProgress, 500);
        }


    </script>


</head>
<body>


<div class="content" id="container">

    <h2>Word Analyzer</h2>

    <h3>Ready to analyze...</h3>

    <hr/>

    <div id="jobInfo">
        <table class="jtable" style="border: none">
            <tr>
                <td style="width: 100px">Title</td>
                <td>
                    <div id="title">${pageScope.title}</div>
                </td>
            </tr>
            <tr>
                <td>Analyze</td>
                <td>
                    <label id="analyzeButton">Analyze</label>
                </td>
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    <label id="status"></label>
                </td>
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    <label id="count"></label>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>